.founder-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 200px 0;
  align-items: flex-start;
}
.founder-name {
  background-color: #5f9ea0;
  text-align: center;
  padding: 10px 0;
  margin-top: 0 !important;
}
.founder-name span {
  text-transform: uppercase;
  color: #18364a;
}
.found-year {
  color: #086608 !important;
  font-weight: 700 !important;
}
.role {
  font-weight: 600 !important;
}
.founder-text {
  margin-bottom: 0 !important;
}
.founder-text::first-letter {
  margin-left: 10px;
}

@media (max-width: 992px) {
  .founder-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }
}
